extends baseEmail
block content

    p Hi #{firstName},
        p Doctor #{doctorName} has added you to our system!
        p you can log in with this password #{password}
        p go and check your profile and stay updated!
